In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
df = pd.read_csv('match_results.csv')
df

,Date,Club,Club_ADV,Dom_Ext,Periode_jour,Arbitre_id,Match_id,CLB_Serie_vic,CLB_Tot_buts_pour,CLB_Tot_buts_contre,CLB_Tot_buts_diff,ADV_Serie_vic,ADV_Tot_buts_pour,ADV_Tot_buts_contre,ADV_Tot_buts_diff,[Resultat],[Buts_dom],[Buts_ext]
0,2017-08-04 18:45:00,Monaco,Toulouse,1.0,4.0,161,759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3,2
1,2017-08-04 18:45:00,Toulouse,Monaco,0.0,4.0,161,759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
2,2017-08-05 15:15:00,PSG,Amiens SC,1.0,2.0,361,758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,0
3,2017-08-05 15:15:00,Amiens SC,PSG,0.0,2.0,361,758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0
4,2017-08-05 18:00:00,Metz,Guingamp,1.0,4.0,435,754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2675,2018-05-20 18:45:00,Real Sociedad,Barcelona,0.0,4.0,383,760,3.0,58.0,50.0,8.0,4.0,81.0,17.0,64.0,0.0,1,0
2676,2018-05-20 18:45:00,Sassuolo,Roma,1.0,4.0,338,1,4.0,21.0,50.0,-29.0,4.0,55.0,23.0,32.0,0.0,0,1
2677,2018-05-20 18:45:00,Roma,Sassuolo,0.0,4.0,338,1,4.0,55.0,23.0,32.0,4.0,21.0,50.0,-29.0,1.0,0,1
2678,2018-05-20 18:45:00,Lazio,Internazionale,1.0,4.0,356,0,5.0,77.0,36.0,41.0,3.0,57.0,22.0,35.0,0.0,2,3
2679,2018-05-20 18:45:00,Internazionale,Lazio,0.0,4.0,356,0,3.0,57.0,22.0,35.0,5.0,77.0,36.0,41.0,1.0,2,3

In [3]:
df['Club'].value_counts()

Deportivo Alav\u00e9s    36
Benevento                35
Hellas Verona            34
Udinese                  34
Juventus                 33
                         ..
Southampton              21
Hertha BSC               21
Wolfsburg                19
Montpellier              19
\u00c9tienne             12
Name: Club, Length: 99, dtype: int64

In [4]:
df.drop('Date', axis = 1, inplace = True)
df

,Club,Club_ADV,Dom_Ext,Periode_jour,Arbitre_id,Match_id,CLB_Serie_vic,CLB_Tot_buts_pour,CLB_Tot_buts_contre,CLB_Tot_buts_diff,ADV_Serie_vic,ADV_Tot_buts_pour,ADV_Tot_buts_contre,ADV_Tot_buts_diff,[Resultat],[Buts_dom],[Buts_ext]
0,Monaco,Toulouse,1.0,4.0,161,759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3,2
1,Toulouse,Monaco,0.0,4.0,161,759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
2,PSG,Amiens SC,1.0,2.0,361,758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,0
3,Amiens SC,PSG,0.0,2.0,361,758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0
4,Metz,Guingamp,1.0,4.0,435,754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2675,Real Sociedad,Barcelona,0.0,4.0,383,760,3.0,58.0,50.0,8.0,4.0,81.0,17.0,64.0,0.0,1,0
2676,Sassuolo,Roma,1.0,4.0,338,1,4.0,21.0,50.0,-29.0,4.0,55.0,23.0,32.0,0.0,0,1
2677,Roma,Sassuolo,0.0,4.0,338,1,4.0,55.0,23.0,32.0,4.0,21.0,50.0,-29.0,1.0,0,1
2678,Lazio,Internazionale,1.0,4.0,356,0,5.0,77.0,36.0,41.0,3.0,57.0,22.0,35.0,0.0,2,3
2679,Internazionale,Lazio,0.0,4.0,356,0,3.0,57.0,22.0,35.0,5.0,77.0,36.0,41.0,1.0,2,3

In [5]:
df =  pd.get_dummies(df)
df.head()

,Dom_Ext,Periode_jour,Arbitre_id,Match_id,CLB_Serie_vic,CLB_Tot_buts_pour,CLB_Tot_buts_contre,CLB_Tot_buts_diff,ADV_Serie_vic,ADV_Tot_buts_pour,...,Club_ADV_Troyes,Club_ADV_Udinese,Club_ADV_Valencia,Club_ADV_Villarreal,Club_ADV_Watford,Club_ADV_Werder Bremen,Club_ADV_West Bromwich Albion,Club_ADV_West Ham United,Club_ADV_Wolfsburg,Club_ADV_\u00c9tienne
0,1.0,4.0,161,759,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,4.0,161,759,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,2.0,361,758,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,2.0,361,758,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,4.0,435,754,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y = df['[Resultat]']

In [7]:
df.drop(['[Buts_dom]'],axis=1,inplace= True)
df.drop(['[Buts_ext]'],axis=1,inplace= True)

In [8]:
X = df.drop('[Resultat]',axis=1)
X

,Dom_Ext,Periode_jour,Arbitre_id,Match_id,CLB_Serie_vic,CLB_Tot_buts_pour,CLB_Tot_buts_contre,CLB_Tot_buts_diff,ADV_Serie_vic,ADV_Tot_buts_pour,...,Club_ADV_Troyes,Club_ADV_Udinese,Club_ADV_Valencia,Club_ADV_Villarreal,Club_ADV_Watford,Club_ADV_Werder Bremen,Club_ADV_West Bromwich Albion,Club_ADV_West Ham United,Club_ADV_Wolfsburg,Club_ADV_\u00c9tienne
0,1.0,4.0,161,759,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,4.0,161,759,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,2.0,361,758,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,2.0,361,758,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,4.0,435,754,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2675,0.0,4.0,383,760,3.0,58.0,50.0,8.0,4.0,81.0,...,0,0,0,0,0,0,0,0,0,0
2676,1.0,4.0,338,1,4.0,21.0,50.0,-29.0,4.0,55.0,...,0,0,0,0,0,0,0,0,0,0
2677,0.0,4.0,338,1,4.0,55.0,23.0,32.0,4.0,21.0,...,0,0,0,0,0,0,0,0,0,0
2678,1.0,4.0,356,0,5.0,77.0,36.0,41.0,3.0,57.0,...,0,0,0,0,0,0,0,0,0,0
2679,0.0,4.0,356,0,3.0,57.0,22.0,35.0,5.0,77.0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
X.head(150)
X.describe()

,Dom_Ext,Periode_jour,Arbitre_id,Match_id,CLB_Serie_vic,CLB_Tot_buts_pour,CLB_Tot_buts_contre,CLB_Tot_buts_diff,ADV_Serie_vic,ADV_Tot_buts_pour,...,Club_ADV_Troyes,Club_ADV_Udinese,Club_ADV_Valencia,Club_ADV_Villarreal,Club_ADV_Watford,Club_ADV_Werder Bremen,Club_ADV_West Bromwich Albion,Club_ADV_West Ham United,Club_ADV_Wolfsburg,Club_ADV_\u00c9tienne
count,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,...,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000,2680.000000
mean,0.500000,2.739552,278.566418,894.830597,2.219030,19.384328,19.081343,0.302985,2.219030,19.384328,...,0.010821,0.012687,0.011567,0.011567,0.009701,0.007836,0.008955,0.008955,0.007090,0.004478
std,0.500093,1.305258,177.040439,527.224185,1.466362,16.467940,14.107441,17.212893,1.466362,16.467940,...,0.103478,0.111939,0.106947,0.106947,0.098036,0.088189,0.094225,0.094225,0.083916,0.066777
min,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,-51.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,119.000000,431.750000,1.000000,7.000000,8.000000,-9.000000,1.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.500000,3.000000,273.000000,883.500000,2.000000,16.000000,17.000000,-1.000000,2.000000,16.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,4.000000,431.000000,1354.250000,3.000000,27.000000,28.000000,5.000000,3.000000,27.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,5.000000,619.000000,1825.000000,5.000000,101.000000,76.000000,81.000000,5.000000,101.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size  = 0.2)

In [11]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [12]:
y_pred = rf.predict(X_test)

In [13]:
from sklearn.metrics import classification_report

report = pd.DataFrame(classification_report(y_test, y_pred, output_dict = True)).transpose()
report

              precision    recall  f1-score     support
0.0            0.639535  0.644531  0.642023  256.000000
1.0            0.672662  0.667857  0.670251  280.000000
accuracy       0.656716  0.656716  0.656716    0.656716
macro avg      0.656098  0.656194  0.656137  536.000000
weighted avg   0.656840  0.656716  0.656769  536.000000

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
report = pd.DataFrame(classification_report(y_test, y_pred, output_dict = True))
report

                  0.0         1.0  accuracy   macro avg  weighted avg
precision    0.411111    0.454887  0.432836    0.432999      0.433979
recall       0.433594    0.432143  0.432836    0.432868      0.432836
f1-score     0.422053    0.443223  0.432836    0.432638      0.433112
support    256.000000  280.000000  0.432836  536.000000    536.000000

In [15]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)
report = pd.DataFrame(classification_report(y_test, y_pred, output_dict = True)).transpose()
report #Penser à normaliser

              precision    recall  f1-score    support
0.0            0.571856  0.746094  0.647458  256.00000
1.0            0.678218  0.489286  0.568465  280.00000
accuracy       0.611940  0.611940  0.611940    0.61194
macro avg      0.625037  0.617690  0.607961  536.00000
weighted avg   0.627418  0.611940  0.606193  536.00000

In [ ]:
# Standardiser les données
# Voir si on peut réduire le nb de variables
# GridSearch sur les paramètres des modèles
# AdaBoost , Gradient Boosting, XGBoost
# Réseaux de neurones